<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1"> Sistema de control de aforos basado en el Internet de las Cosas </h1>
            <h3 class="mb-5">
                <em> Proyecto Capstone </em>
            </h3>
            <a href="/signin" class="btn btn-primary">Empieza ya</a>
        </div>
    </header>
</main>