
<div class="container p-2 ">
  <div class="row">
  
      <div class="col-md-3 my-2 p-2">
        <div class="card text-right bg-dark text-light">
          <div class="card-body">
            <form action="/administradores/delete/HAE" method="POST">

                <div class="text-center">
                    <h5 class="card-title text-uppercase"> Historial alumnos entrada </h5>
                    <p> Borrar todos los registros que contiene la base de datos - Historial de entrada alumnos  </p>
                    <p class="text-warning">Los registros son irrecuperables!</p>
                </div>
                
                <div class="text-center">
                    <button class="btn btn-danger btn-block">
                        Borrar
                    </button>
                </div>

            </form>
          </div>
        </div>
      </div>

      <div class="col-md-3 my-2 p-2">
        <div class="card text-right bg-dark text-light">
          <div class="card-body">
            <form action="/administradores/delete/HAS" method="POST">

                <div class="text-center">
                    <h5 class="card-title text-uppercase"> Historial alumnos salida </h5>
                    <br>
                    <p> Borrar todos los registros que contiene la base de datos - Historial de salida alumnos  </p>
                    <p class="text-warning">Los registros son irrecuperables!</p>
                    
                </div>
                
                <div class="text-center">
                    <button class="btn btn-danger btn-block">
                        Borrar
                    </button>
                </div>

            </form>
          </div>
        </div>
      </div>

      <div class="col-md-3 my-2 p-2">
        <div class="card text-right bg-dark text-light">
          <div class="card-body">
            <form action="/administradores/delete/HPE" method="POST">

                <div class="text-center">
                    <h5 class="card-title text-uppercase"> Historial profesores y personal entrada </h5>
                    <p> Borrar todos los registros que contiene la base de datos - Historial de entrada profesores y personal  </p>
                    <p class="text-warning">Los registros son irrecuperables!</p>
                </div>
                
                <div class="text-center">
                    <button class="btn btn-danger btn-block">
                        Borrar
                    </button>
                </div>

            </form>
          </div>
        </div>
      </div>

      <div class="col-md-3 my-2 p-2">
        <div class="card text-right bg-dark text-light">
          <div class="card-body">
            <form action="/administradores/delete/HPS" method="POST">

                <div class="text-center">
                    <h5 class="card-title text-uppercase"> Historial profesores y personal salida </h5>
                    <p> Borrar todos los registros que contiene la base de datos - Historial de salida profesores y personal  </p>
                    <p class="text-warning">Los registros son irrecuperables!</p>
                </div>
                
                <div class="text-center">
                    <button class="btn btn-danger btn-block">
                        Borrar
                    </button>
                </div>

            </form>
          </div>
        </div>
      </div>

      <div class="col-md-3 my-2 p-2">
        <div class="card text-right bg-dark text-light">
          <div class="card-body">
            <form action="/administradores/delete/TA" method="POST">

                <div class="text-center">
                    <h5 class="card-title text-uppercase"> Historial de temperaturas altas Alumnos </h5>
                    <p> Borrar todos los registros que contiene la base de datos - Historial de temperaturas altas (Alumnos)  </p>
                    <p class="text-warning">Los registros son irrecuperables!</p>
                    <br>
                </div>
                
                <div class="text-center">
                    <button class="btn btn-danger btn-block">
                        Borrar
                    </button>
                </div>

            </form>
          </div>
        </div>
      </div>

      <div class="col-md-3 my-2 p-2">
        <div class="card text-right bg-dark text-light">
          <div class="card-body">
            <form action="/administradores/delete/TP" method="POST">

                <div class="text-center">
                    <h5 class="card-title text-uppercase"> Historial de temperaturas altas profesores y personal </h5>
                    <p> Borrar todos los registros que contiene la base de datos - Historial de temperaturas altas (Profesores y Personal)  </p>
                    <p class="text-warning">Los registros son irrecuperables!</p>
                </div>
                
                <div class="text-center">
                    <button class="btn btn-danger btn-block">
                        Borrar
                    </button>
                </div>

            </form>
          </div>
        </div>
      </div>

       
  </div>
</div>