<div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
           <h3>Registar Profesor/Personal</h3>
        </div>
        <div class="card-body">
          <form action="/profesores/add" method="POST">
            
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingNoEmpleado" name="noEmpleado" placeholder="No Empleadoa"  autofocus>
                <label for="floatingNoEmpleado">No Empleado</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingNombre" name="nombre" placeholder="Nombre" >
                <label for="floatingNombre">Nombre</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingApellidos" name="apellidos" placeholder="Apellidos" >
                <label for="floatingApellidos">Apellidos</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" aria-label="Default select example" name="unidad" id="unidad" placeholder="Unidad" onchange="cargarDivision()">
                  <option selected > Unidad </option>
                </select>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" aria-label="Default select example" name="division" id="division" placeholder="Division"  >
                  <option selected > Division </option>
                </select>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingEdad" name="edad" placeholder="Edad" >
                <label for="floatingEdad">Edad</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="Email" >
                <label for="floatingEmail">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingTelefono" name="telefono" placeholder="Telefono" >
                <label for="floatingTelefono">Telefono</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingClave" name="clave" placeholder="Clave" >
                <label for="floatingClave">Clave</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingHuella" name="huella" placeholder="Huella" >
                <label for="floatingHuellav">Huella</label>
            </div>

            <button class="btn btn-success btn-block">
              Registrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>