<div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
           <h3>Registrar Administrador</h3>
        </div>
        <div class="card-body">
          <form action="/signup" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingFullname" name="fullname" placeholder="Nombre completo" autofocus>
                <label for="floatingFullname">Nombre completo</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingUsername" name="username" placeholder="Nombre de usuario" autofocus>
                <label for="floatingUsername">Nombre de usuario</label>
            </div>
            
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Contraseña" >
                <label for="floatingPassword">Contraseña</label>
            </div>

            <button class="btn btn-success btn-block">
              Registrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>